:root{
    font-size: 15px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: 0;
    text-decoration: none;
}

body{
    font-family: 'Raleway', sans-serif;
}

.container{
    margin: 2% 10%;
    height: 100%;
}


/* HEADER */


header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8% 1%;
    background-color: white;
    border-bottom: 1px solid #ccc;
}

header .logo{
    color: #e04c41;
}

header .logo h2{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

header .logo h2 i{
    /* font-size: 1.3rem; */
    margin-right: 15px;
}

header .search i{
    font-size: 1.5rem;
    color: gray;
    cursor: pointer;
}


/* MAIN */


main.banner-main{
    background-image: url("../assets/london.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 45vw;
}

main.banner-main .container{
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.banner-main .options{
    width: 80%;
    position: relative;
}

main .options .buttons{
    display: flex;
}

main .options .buttons button{
    width: 100%;
    font-size: 1rem;
    color: white;
    background-color: black;
    padding: 1%;
    cursor: pointer;
    transition: background-color .4s;
}

main .options .buttons button:first-of-type{
    background-color: rgb(255, 60, 60);
}

main .options .buttons button:hover{
    background-color: rgb(122, 30, 30);
}

main .options .buttons button i{
    margin-right: 10px;
}

main  .options .options-form{
    background-color: white;
    padding: 3% 2%;
}

main .options .options-form h2{
    font-weight: normal;
    margin-bottom: 2%;
    font-size: 1.5rem;
}

main .options-form form .form-wrapper{
    display: flex;
    margin-bottom: 2%;
}

main .options-form form .form-wrapper .ffrom,
main .options-form form .form-wrapper .fto{
    width: 50%;
    display: flex;
    flex-direction: column;
}

main .options .options-form label{
    font-size: 1rem;
    margin-bottom: 1%;
}

main .options .options-form input[type=text]{
    border: 1px solid #ccc;
    padding: 3%;
    width: 95%;
    font-size: 1rem;
}

main .options .options-form input[type=submit]{
    background-color: #606060;
    color: white;
    padding: 1.2% 2%;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color .4s;
}

main .options .options-form input[type=submit]:hover{
    background-color: rgb(122, 30, 30);
}


/* OFFERS */


.description h2{
    font-weight: normal;
    font-size: 1.5rem;
}

.description p{
    margin: 2% 0;
    font-size: 1rem;
}

section.offers .cities{
    width: 100%;
    display: flex;
    align-items: center;
}

section.offers .cities .aux{
    width: 100%;
}

section.offers .cities .img{
    position: relative;
    z-index: 1;
    margin: 4%;
}

section.offers .cities .img img{
    width: 100%;
}

section.offers .cities .img-main{
    margin: 2% 2% 2% 0;
}

section.offers .cities .cities-alt .img{
    margin-right: 0;
}

section.offers .cities .img p{
    position: absolute;
    z-index: 2;
    bottom: 3%;
    left: 2%;
    font-size: 1.4rem;
    color: white;
}

section.offers .cities .city-main{
    width: 50%;
}

section.offers .cities .cities-alt{
    width: 50%;
    display: flex;
}


/* EXPLORE */


section.explore .tickets{
    display: flex;
}

section.explore .tickets img{
    width: 100%;
}

section.explore .ticket-1,
section.explore .ticket-2{
    width: 50%;

}

section.explore .ticket-1 img{
    padding-right: 2%;
}

section.explore .ticket-2 img{
    padding-left: 2%;
}

section.explore .tickets .ticket-description{
    margin: 2% 4%;
}

section.explore .ticket-description p{
    font-size: 1rem;
    margin-top: 3%;
}

section.explore .ticket-description .price{
    font-weight: lighter;
    color: gray;
}

section.explore .ticket-description .buy{
    margin-left: 4%;
    cursor: pointer;
}


/* Newsletter */


section.newsletter{
    margin: 3% 0;
}

section.newsletter .get-email{
    background-color: #606060;
    color: white;
    padding: 3% 1.5% 0 1.5%;
}

section.newsletter .get-email h2{
    font-size: 2rem;
}

section.newsletter .get-email p{
    margin: 3% 0;
}

section.newsletter .get-email form{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

section.newsletter .get-email input[type=email]{
    font-size: 1rem;
    width: 100%;
    padding: 1%;
    margin: .5% 0;
}

section.newsletter .get-email input[type=email]::placeholder{
    color: rgb(167, 167, 167);
}

section.newsletter .get-email input[type=submit]{
    max-width: 100px;
    margin: 2% 0;
    padding: 1% 1.5%;
    font-size: 1rem;
    color: white;
    background-color: #f38981;
    transition: background-color .4s;
    cursor: pointer;
}

section.newsletter .get-email input[type=submit]:hover{
    background-color: #ff574b;
}


/* CONTACT */


section.contact p{
    margin: 3% 0;
}

section.contact a{
    color: black;
    transition: .4s;
}

section.contact a:hover{
    color: #e04c41;
    font-weight: bold;
}

section.contact .info{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

section.contact .info span{
    margin: .3% 0;
}

section.contact .info span a i{
    margin-right: 1rem;
}

section.contact form{
    display: flex;
    flex-direction: column;
}

section.contact form input,
section.contact form textarea{
    border: .1px solid #ccc;
    font-size: 1rem;
    padding: 1.6% 1%;
    margin: .6% 0; 
    height: 50px;
}

section.contact form textarea{
    resize: vertical;
    height: 50px;
    min-height: 50px;
    max-height: 200px;
}

section.contact form input::placeholder,
section.contact form textarea::placeholder{
    font-family: 'Raleway', sans-serif;
    color: rgb(167, 167, 167);
}

section.contact form input[type=submit]{
    max-width: 170px;
    font-size: .9rem;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: background-color .4s;
}

section.contact form input[type=submit]:hover{
    background-color: rgb(122, 30, 30);
}


/* FOOTER */


footer{
    text-align: center;
}

footer h3{
    font-weight: normal;
    color: #606060;
    font-size: 1.3rem;
}

footer .social{
    margin: 3% 0;

}

footer .social a{
    font-size: 1.2rem;
    margin: .2%;
    color: black;
    color: #606060;
    transition: color .4s;
}

footer .social a:hover{
    color: #e04c41;
}

footer p{
    color: #606060;
    font-size: .9rem;
}

footer p a{
    color: #606060; 
    text-decoration: underline;
}


/* RESPONSIVE */

@media screen and (max-width: 768px){
    .container{
        margin: 2%;
    }
    
    
    /* HEADER */
    
    
    header{
        padding: 1.5% 20%;
    }
    
    header .search{
        padding-right: 3%;
    }
    
    
    /* MAIN */

    
    main.banner-main{
        height: 47vw;
    }
    
    main.banner-main .options{
        width: 75%;
    }
    
    main .options .buttons button{
        padding: 2% 1%;
    }
    
    main  .options .options-form{
        padding: 5% 3%;
    }
    
    main .options .options-form h2{
        margin-bottom: 4%;
    }
    
    main .options-form form .form-wrapper{
        margin-bottom: 3%;
    }
    
    main .options .options-form input[type=text]{
        padding: 5% 3%;
    }
    
    main .options .options-form input[type=submit]{
        padding: 2% 2.5%;
    }
    
    
    /* OFFERS */
    
    
    .description h2{
        margin-top: 4%;
    }
    
    section.offers .cities .img{
        margin: 4%;
    }
    
    
    /* Newsletter */
    
    
    section.newsletter .get-email{
        padding: 1% 1.5% 0 1.5%;
    }
    
    section.newsletter .get-email input[type=email]{
        padding: 1.5% 1%;
    }
    
    section.newsletter .get-email input[type=submit]{
        padding: 1.5%;
    }
    
    
    /* CONTACT */
    
    section.contact h2{
        font-size: 2rem;
    }
    
    section.contact form input[type=submit]:hover{
        background-color: rgb(122, 30, 30);
    }
    
    
    /* FOOTER */
    

    footer{
        padding-bottom: 2%;
    }
    
    footer h3{
        font-size: 1.2rem;
    }
    
    footer .social{
        margin: 5% 0;
    }
    
    footer .social a{
        font-size: 1.5rem;
    }   
}

@media screen and (max-width: 450px){
    .container{
        margin: 5% 4%;
    }
    
    
    /* HEADER */
    
    
    header{
        padding: 3%;
    }
    
    header .search{
        padding-right: 3%;
    }
    
    
    /* MAIN */
    
    
    main.banner-main{
        background: none;
        height: 100%;
    }
    
    main.banner-main .container{
        display: block;
        margin: 0;
    }
    
    main.banner-main .options{
        width: 100%;
        position: static;
    }
    
    main .options .buttons{
        background-color: black;
    }
    
    main .options .buttons button{
        width: auto;
        padding: 2.5%;
    }
    
    main  .options .options-form{
        padding: 3% 4%;
    }
    
    main .options .options-form h2{
        margin: 4% 0;
    }
    
    main .options-form form .form-wrapper{
        display: block;
    }
    
    main .options-form form .form-wrapper .ffrom,
    main .options-form form .form-wrapper .fto{
        width: 100%;
        margin: 1% 0;
    }
    
    main .options .options-form input[type=text]{
        padding: 2.5%;
    }
    
    main .options .options-form input[type=submit]{
        padding: 2.5% 3%;
    }
    
    
    /* OFFERS */
    
    
    .description h2{
        margin-bottom: 5%;
    }
    
    section.offers .cities{
        display: block;
    }
    
    section.offers .cities .img{
        margin: 0;
        padding: 1.5% 0;
    }
    
    section.offers .cities .img-main{
        margin: 0;
    }
    
    section.offers .cities .cities-alt .img{
        margin-right: 0;
    }
    
    section.offers .cities .city-main{
        width: 100%;
    }
    
    section.offers .cities .cities-alt{
        width: 100%;
        display: block;
    }

    section.offers .cities .img p{
        bottom: 6%;
        left: 4%;
        font-size: 1.2rem;
    }
    
    
    /* EXPLORE */
    
    
    section.explore .tickets{
        display: block;
    }
    
    section.explore .ticket-1,
    section.explore .ticket-2{
        width: 100%;
    }
    
    section.explore .ticket-1 img{
        padding-right: 0;
    }
    
    section.explore .ticket-2 img{
        padding-left: 0;
    }
    
    section.explore .ticket-description .buy{
        margin:10% 4%;
    }
    
    
    /* Newsletter */
    
    
    section.newsletter{
        margin: 3% 0;
    }
    
    section.newsletter .get-email{
        padding: 3% 4%;
    }
    
    section.newsletter .get-email p{
        margin: 5% 0;
    }
    
    section.newsletter .get-email input[type=email]{
        padding: 3% 2%;
    }
    
    section.newsletter .get-email input[type=submit]{
        margin-top: 3%;
        padding: 3% 1.5%;
    }
    
    
    /* CONTACT */

    
    section.contact .info span{
        margin: .5% 0;
    }
    
    section.contact form input[type=text],
    section.contact form input[type=email]{
        padding: 6% 2%;
        margin: 2% 0;
    }
    
    section.contact form textarea{
        padding: 4% 2%;
        margin: 2% 0;
    }
    
    section.contact form input[type=submit]{
        margin: 2% 0;
    }
    
    section.contact form input[type=submit]:hover{
        background-color: rgb(122, 30, 30);
    }
    
    
    /* FOOTER */

    
    footer .social{
        margin: 10% 0;
    }   
}

@media screen and (max-width:320px){
    :root{
        font-size: 14px;
    }

    
    /* MAIN */

    
    main.banner-main .options{
        margin-bottom: 30%;
    }
    
    main .options .buttons button{
        width: auto;
        padding: 3.5%;
    }
    
    main .options .options-form h2{
        margin: 6% 0;
    }
    
    main .options .options-form input[type=text]{
        padding: 3.5% 3%;
    }
    
    main .options .options-form input[type=submit]{
        padding: 4% 5%;
    }
    
    
    /* OFFERS */
    
    
    .description h2{
        margin: 5% 0;
    }

    .description p{
        margin: 6% 0;
    }
    
    
    /* Newsletter */
    
    
    section.newsletter{
        margin: 5% 0;
    }
    
    section.newsletter .get-email{
        padding: 5%;
    }
    
    section.newsletter .get-email p{
        margin: 10% 0;
    }
    
    section.newsletter .get-email input[type=email]{
        padding: 4% 3%;
    }
    
    section.newsletter .get-email input[type=submit]{
        margin-top: 5%;
    }
    
    
    /* CONTACT */

    
    section.contact .info span{
        margin: 1% 0;
    }
    
    section.contact form textarea{
        padding: 6% 2%;
    }

    
    /* FOOTER */

    
    footer .social{
        margin: 13% 0;
    }  
}